$primaryColor: #005682;
$headerFont: 'Andale Mono';
$primaryFont: Helvetica;
$primaryScale: scale(1.1);
$primaryTransform: transform 0.7s ease;

@mixin transition($primaryTransform) {
  -webkit-transition: $primaryTransform;
  -moz-transition: $primaryTransform;
  -o-transition: $primaryTransform;
  -ms-transition: $primaryTransform;
}

body {
  font-family: $primaryFont;
  font-size: 1.5;

  h1 {
    color: $primaryColor;
    text-align: center;
    font-family: $headerFont;
  }

  h2 {
    text-align: center;
    font-family: $headerFont;
  }
}

#team-members {
  clear: both;

  .row {
    display: block;
    padding: 10px 100px;
  }

  .member {
    float: left;
    /*border: 1px solid gray;*/
    margin: 10px;
    padding: 6px;
    @include transition($primaryTransform);

    img {
      width: 200px;
      height: 200px;
      border-radius: 100px;
      opacity: 0.95;
      box-shadow: 0px 3px 6px #777;
    }

    &:hover {
      transform: $primaryScale;
    
      #david {
        content: url("http://i.imgur.com/3USVsbU.png");
      }

      #don {
        content: url("http://i.imgur.com/NT5PRIh.jpg");
      }

      #jeremy {
        content: url("http://i.imgur.com/GOFuRLx.jpg");
      }

      #khurram {
        content: url("http://i.imgur.com/XgfkhUJ.jpg");
      }

      #monica {
        content: url("http://i.imgur.com/kOGgukP.jpg");
      }

      #sherman {
        content: url("http://i.imgur.com/vR5qUDN.jpg");
      }

      #michael {
        content: url("http://i.imgur.com/uPvGzLf.jpg");
      }

      #charlyne {
        content: url("http://i.imgur.com/iIIam00.jpg");
      }

      #rosy {
        content: url("http://i.imgur.com/IotuxCd.jpg");
      }

      #arvinder {
        content: url("http://i.imgur.com/LYeS2wQ.jpg");
      }

      #sylvia {
        content: url("http://i.imgur.com/J9mCR0K.jpg");
      }

      #landon {
        content: url("http://i.imgur.com/3Q6255r.jpg");
      }

      #murat {
        content: url("http://i.imgur.com/OrjxtuI.jpg");
      }

    }

    div.name {
      text-align: center;
    }

  }

}

